<p id="notice"><%= notice %></p>

<p>
  <b>Tour:</b>
  <%= @trip.tour_id %>
</p>

<p>
  <b>Request by:</b>
  <%= @trip.request_by %>
</p>

<p>
  <b>Status:</b>
  <%= @trip.status %>
</p>


<%= link_to 'Edit', edit_user_tour_trip_path(@user,@tour,@trip) %> |
<%= link_to 'Back', user_tour_trips_path(@user,@tour) %>
