<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :from_loc %><br />
    <%= f.text_field :from_loc %>
  </div>
  <div class="field">
    <%= f.label :to_loc %><br />
    <%= f.text_field :to_loc %>
  </div>
  <div class="field">
    <%= f.label :doj %><br />
    <%= f.text_field :doj %>
  </div>
  <div class="field">
    <%= f.label :desp %><br />
    <%= f.text_field :desp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
